<h1>All Users</h1>
<ul class="users">
  <%= will_paginate %>
  <% @users.each do |user| %>
  <li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% c_user = current_user %>
  <%if c_user.admin? && c_user !=  user %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
</li>
<% end %>
</ul>
<%= will_paginate %>
